.text {
  margin: 0;
  font-family: var(--fontStack);
  color: var(--colorTextBody);
  line-height: var(--lineHeightBody);
  letter-spacing: 0.012em;
}

/* ============================= */
/* ===== SIZE DEFINITIONS ====== */
/* ============================= */

.text[data-size='xl'] {
  font-size: var(--fontSizeBodyXL);
  font-weight: var(--fontWeightMedium); /* 500 */
}

.text[data-size='l'] {
  font-size: var(--fontSizeBodyL);
  font-weight: var(--fontWeightRegular); /* 400 */
}

.text[data-size='m'] {
  font-size: var(--fontSizeBodyM);
  font-weight: var(--fontWeightRegular); /* 400 */
}

.text[data-size='s'] {
  font-size: var(--fontSizeBodyS);
  font-weight: var(--fontWeightRegular); /* 400 */
}

.text[data-size='xs'] {
  font-size: var(--fontSizeBodyXS);
  font-weight: var(--fontWeightLight); /* 300 */
}

/* ============================= */
/* ===== VARIANTS ============== */
/* ============================= */

.text[data-size='l'][data-variant='serif'] {
  font-family: var(--serifFontStack);
  font-weight: var(--fontWeightRegular); /* 400 */
}

.text[data-size='m'][data-variant='serif'] {
  font-family: var(--serifFontStack);
  font-weight: var(--fontWeightLight); /* 300 */
}

.text[data-tone='secondary'] {
  color: var(--colorTextMuted);
}
