.pageLayer {
  position: relative;
  z-index: 1;
  width: 100%;
  background: #fff;
  overflow: clip;
}

@media (--mediaMobile) {
  .pageLayer {
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
  }
}

