.home {
  overflow-x: clip;
}

.sectionHeading {
  padding: var(--space3XL) 0 var(--space2XL);
}

.scrollShowcaseWrap {
  height: 250vh;
}

.scrollShowcaseWrap > * {
  position: sticky;
  top: 0;
  height: 100vh;
}

.restOfPage {
  position: relative;
  z-index: 4;
  background: rgb(var(--rgbBackground));
}
